<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="footerFragment">
<footer>
    <div class="footer">
        <div class="container">
            <div class="footer-content">
                <div class="footer-left">
                    <h2>FundingFlex</h2>
                </div>
                <div class="footer-right">
                    <p>대표자 : 김은종훈지</p>
                    <p>주소 : 서울특별시 종로구 창경궁로 254 동일빌딩 6층 603호</p>
                    <p>전화 : 02-2188-6900, 팩스 : 02-2188-6901</p>
                    <p>이메일 : ssoert123@naver.com</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
		COPYRIGHTS SITE.COM. ALL RIGHTS RESERVED
    </div>
</footer>
</html>