<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="footerFragment">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
<title>Footer</title>
</head>
<body>
	<footer class="footer">
		<div class="container">
			<div class="footer-content">
				<div class="newsletter">
					<h2>Sign up for our newsletter</h2>
				</div>
				<div class="footer-links">
					<div>
						<h3>지금 지하철을 타고 집에 간다면</h3>
						<ul>
							<li>Lorem</li>
							<li>Lorem</li>
							<li>Lorem</li>
						</ul>
					</div>
					<div>
						<h3>얼마나 좋을지 상상해보셨나요?</h3>
						<ul>
							<li>Lorem</li>
							<li>Lorem</li>
							<li>Lorem</li>
							<li>Lorem</li>
							<li>Lorem</li>
						</ul>
					</div>
					<div>
						<h3>곧입니다 ㅎㅎㅎㅎ</h3>
						<ul>
							<li>Lorem</li>
							<li>Lorem</li>
							<li>Lorem</li>
							<li>Lorem</li>
							<li>Lorem</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-bottom">
			<p>여기는 footer입니다. 여러분 혼동하지 마세요. 이 세상은 무서운 곳입니다.</p>
		</div>
	</footer>
</body>
</html>