<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:fragment="headerFragment">
<div class="navbar">
   <div class="top-title">FundingFlex 공식 홈페이지입니다.</div>

   <div class="auth-buttons">
      <button class="login-btn" th:attr="onclick='location.href=\'/api/signin\''">로그인</button>
      <button class="signup-btn" th:attr="onclick='location.href=\'/api/signup\''">회원 가입</button>
      <!-- <button class="#">고객센터</button> -->
      <div class="dropdown">
          <button class="support-btn" th:attr="onclick='location.href=\'/qa\''">고객센터</button>
          <ul class="dropdown-content">
              <li><a href="/qa/fqa">FAQ</a></li>
              <li><a href="/qa/myquestions">문의</a></li>
              <li><a href="/qa/chat">1 : 1 상담</a></li>
          </ul>
      </div>
   </div>

</div>

<header>
   <div class="header">
      <div class="logo">
         <a th:href="@{/}">
             <img th:src="@{/img/fundingflex.png}" alt="FundingFlex Logo">
         </a>
      </div>
      <nav>

         <ul class="nav-links">
            <li><a href="/api/categories/1">테크/가전</a></li>
            <li><a href="/api/categories/2">뷰티</a></li>
            <li><a href="/api/categories/3">홈/리빙</a></li>
            <li><a href="/api/categories/4">푸드</a></li>
            <li><a href="/api/categories/5">반려동물</a></li>
         </ul>
      </nav>

      <div class="search">
         <input type="text" placeholder="Search">
         <button type="submit" class="btn custom-btn-shadow shadow">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                   fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
               <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
            </svg>
         </button>
      </div>

      <div class="create-funding">
         <button class="btn custom-btn-shadow shadow" th:attr="onclick='location.href=\'/api/fundings\''">펀딩 개설</button>
      </div>

   </div>
</header>
</html>