<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://java.sun.com/JSP/Page"
      layout:decorate="~{common/layouts/layout}">

<div layout:fragment="content" class="content">
    <div class="container-body">
        <div class="text-body">
        	<div class="form-make-body col-md-7">
        
             <h2 class="text-center my-4">펀딩 개설</h2>
             
             <form id="fundingsForm" th:action="@{/api/fundings}" th:object="${fundingsForm}"
                 method="post" enctype="multipart/form-data" onsubmit="return validateForm()">

                 <!-- 카테고리 -->
                 <div class="form-group mt-4">
                     <label for="category">카테고리</label>
                     <select id="category" th:field="*{categoryId}" class="form-control" onchange="updateCategoryName()">
                         <option value="" selected>카테고리를 선택하세요</option>
                         <option th:each="category : ${categoryList}"
                             th:value="${category.categoryId}"
                             th:text="${category.categoryName}">
                         </option>
                     </select>
                     <div id="categoryError" class="text-danger mt-1" style="display: none;">카테고리를 선택해주세요</div>
                 </div>

                 <div class="form-group mt-4">
                     <label for="title">제목</label>
                     <input type="text" id="title" th:field="*{title}" placeholder="제목을 입력해주세요" class="form-control" />
                     <div id="titleError" class="text-danger mt-1" style="display: none;">제목을 입력해주세요</div>
                 </div>
                 
                 <div class="form-group mt-4">
                     <label for="content">내용</label>
                     <textarea id="content" th:field="*{content}" placeholder="내용을 입력해주세요" class="form-control textarea-large"></textarea>
                     <div id="contentError" class="text-danger mt-1" style="display: none;">내용을 입력해주세요</div>
                 </div>
                 
                 <div class="form-group mt-4">
                     <label for="goalAmount">목표 금액 설정</label>
                     <input type="number" id="goalAmount" th:field="*{goalAmount}" class="form-control" min="0" step="5000" />
                     <div id="amountError" class="text-danger mt-1" style="display: none;">목표 금액을 입력해주세요</div>
                 </div>
                 
                 <!-- 이미지 업로드 5개의 네모 칸 -->
                 <div class="form-group mt-5">
                     <label>이미지 업로드</label>
                     <div id="imageUploadContainer" class="image-upload-container">
                         <div class="image-upload">
                             <input type="file" name="images" accept="image/*" onchange="previewImage(this)">
                             <img src="#">
                         </div>
                         <div class="image-upload">
                             <input type="file" name="images" accept="image/*" onchange="previewImage(this)">
                             <img src="#">
                         </div>
                         <div class="image-upload">
                             <input type="file" name="images" accept="image/*" onchange="previewImage(this)">
                             <img src="#">
                         </div>
                         <div class="image-upload">
                             <input type="file" name="images" accept="image/*" onchange="previewImage(this)">
                             <img src="#">
                         </div>
                         <div class="image-upload">
                             <input type="file" name="images" accept="image/*" onchange="previewImage(this)">
                             <img src="#">
                         </div>
                     </div>
                 </div>
                 
                 <div class="form-group text-center mt-4">
                     <button type="submit" class="btn btn-primary">등록</button>
                 </div>
                
           		</form>
            </div>
            
        </div>
    </div>
</div>

</html>