<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://java.sun.com/JSP/Page"
			layout:decorate="~{common/layouts/layout}" lang="ko">
			
<div layout:fragment="content" class="content">
	<div class="container-body">
		<div class="text-body">
			<div class="row col-lg-12">
			
				<!-- 왼쪽 이미지 섹션 -->
				<div class="col-lg-6">
					<div class="image-container">
						<div class="thumbnail-section">
							<img th:each="image, iterStat : ${responseFundingInfo.imagesList}" th:src="@{/images/fundings/{imageUrl}(imageUrl=${image.imageUrl})}" alt="Thumbnail" class="thumbnail" onclick="changeMainImage(this)">
						</div>
						
						<div class="project-thumb mb-md-50">
							<img id="mainImage" th:src="@{/images/fundings/{imageUrl}(imageUrl=${responseFundingInfo.imagesList[0].imageUrl})}" alt="Main Image">
						</div>
					</div>
				</div>
	
				<!-- 오른쪽 정보 섹션 -->
				<div class="col-lg-5">
					<div class="project-summery">
						<a th:href="@{/api/categories/{categoryId}(categoryId=${responseFundingInfo.fundingsInfoDto.categoryId})}"
							class="category mb-3" th:utext="${responseFundingInfo.fundingsInfoDto.categoryName} + ' &gt; '">category</a>
						
						<div class="project-funding-title-likes">
							<h3 class="project-title" th:text="${responseFundingInfo.fundingsInfoDto.title}">제목입니다.</h3>
							<span class="icon_heart_alt" id="heartButton"></span>
						</div>
						<div class="project-funding-info">
							<div class="info-box">
								<h1><span class="goal-amount" th:text="${responseFundingInfo.fundingsInfoDto.goalAmount} + ' 원'">$5036k</span></h1>
							</div>
						</div>
	
						<div class="project-raised clearfix">
							<div class="d-flex align-items-center justify-content-between">
								<div class="raised-label collected-amount" th:text="${responseFundingInfo.fundingsInfoDto.collectedAmount} + ' 원 달성'">Raised of $59,689</div>
								<div class="percent-raised" id="percent-raised" th:text="${responseFundingInfo.fundingsInfoDto.percent} + ' % 달성'">79%</div>
							</div>
							
							<div class="stats-bar" th:attr="data-value=${responseFundingInfo.fundingsInfoDto.percent}">
								<div class="bar-line" id="bar-line" th:style="'width: ' + ${responseFundingInfo.fundingsInfoDto.percent}"></div>
								<div class="progress-label" id="progress-label" th:text="${responseFundingInfo.fundingsInfoDto.percent}"></div>
							</div>
						</div>
	
						<button type="submit" class="btn btn-primary" th:onclick="'location.href=\'/api/fundings/' + ${responseFundingInfo.fundingsInfoDto.fundingsId} + '/fundingJoin\''"
										th:classappend="${responseFundingInfo.fundingsInfoDto.statusFlag == 0 || responseFundingInfo.fundingsInfoDto.statusFlag == 2 || responseFundingInfo.fundingsInfoDto.statusFlag == 3} ? 'disabled' : ''">
							<span th:switch="${responseFundingInfo.fundingsInfoDto.statusFlag}">
									<span th:case="0">펀딩 오픈 예정</span>
									<span th:case="1">펀딩 참여하기</span>
									<span th:case="2">펀딩 완료</span>
									<span th:case="3">펀딩 취소</span>
									<span th:case="*">펀딩 참여하기</span> <!-- 기본 값 -->
							</span>
						</button>
					</div>
				</div>
	
			</div>
			
			<hr>
			
			<!-- 내용 -->
			<div class="project-details-tab mt-5">
				<div class="row justify-content-center">
					<div class="description-content">
						<h4 class="description-title" th:text="${responseFundingInfo.fundingsInfoDto.title}">제목입니다</h4>
						<p class="preserve-whitespace" th:text="${responseFundingInfo.fundingsInfoDto.content}">내용입니다.</p>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
</html>