<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://java.sun.com/JSP/Page"
      layout:decorate="~{common/layouts/layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap.min.css}">
    <title>FQA</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="/css/qa-style.css">

</head>
<body>
<div layout:fragment="content" class="content">
<div class="container-body">
        <div class="text-body">
        	<div class="form-make-body col-md-8">
    <h2 class="text-center my-4">FQA</h2>
    <nav class="my-qa-top-link">
        <!--  href="/qa/fqa" -->
        <a class="my-qa-select-top-tap">자주 문의한 내역</a>
        <a href="/qa/myquestions">내가 문의한 내역</a>
        <a href="/qa/ask">문의 하기</a>
        <a href="/qa/chat">1:1 실시간 상담</a>
    </nav>

      <div id="my-qa-content">
        <table class="my-qa-table">
            <thead class="my-qa-thead">
                <tr>
                    <th class="number-column my-qa-thtd">번호</th>
                    <th class="title-column my-qa-thtd">제목</th>
                    <th class="date-column my-qa-thtd">등록일</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="fqa, iterStat : ${fqas}">
                    <td class="my-qa-thtd" th:text="${fqas.size() - iterStat.index}"></td>
                    <td class="my-qa-thtd"><a th:href="@{/qa/fqa/detail/{id}(id=${fqa.fqaId})}" th:text="${fqa.title}">질문 제목</a></td>
                	<td class="my-qa-thtd" th:text="${#dates.format(fqa.createdAt, 'yyyy-MM-dd')}">등록일</td>
                </tr>
            </tbody>
        </table>

        <div class="my-fqa-search-container">
            <form th:action="@{/qa/fqa/search}" method="get">
                <select name="searchType">
                    <option value="title">제목</option>
                    <option value="content">내용</option>
                    <option value="titleContent">제목+내용</option>
                </select>
                <input type="text" name="keyword" placeholder="검색어 입력" required>
                <button type="submit">검색</button>
            </form>
        </div>

        <!-- "FQA 등록하기" 버튼 -->
        <div sec:authorize="hasRole('ROLE_ADMIN')" class="my-qa-center">
            <a class="btn btn-primary" href="/qa/fqa/add">FQA 등록하기</a>
        </div>
    </div>
</div></div></div></div></body></html>

