<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fundingflex.mybatis.mapper.category.CategoriesMapper">

  <!-- 카테고리 조회 -->
	<select id="selectAllCategories" resultType="com.fundingflex.category.domain.dto.CategoriesDTO">
    SELECT category_id 		categoryId
         , category_name 	categoryName
      FROM categories
  </select>

  <select id="selectCategoryById" resultType="com.fundingflex.category.domain.dto.CategoriesDTO">
    SELECT category_id 		categoryId
         , category_name 	categoryName
      FROM categories
     WHERE category_id  = #{categoryId}
  </select>

  <select id="existsById" resultType="int">
    SELECT CASE WHEN EXISTS (SELECT 1
                               FROM categories
                              WHERE category_id = #{categoryId})
                THEN 1
                ELSE 0
           END
      FROM dual
  </select>


</mapper>