<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fundingflex.mybatis.mapper.ChatMapper">
    <resultMap id="chatResultMap" type="com.fundingflex.consultation.chat.domain.dto.ChatDTO">
        <id column="chatId" property="chat_id" />
        <result column="chatNumber" property="chat_number" />
        <result column="content" property="content" />
        <result column="createdAt" property="created_at" />
        <result column="userId" property="user_id" />
        <result column="isAdmin" property="is_admin" />
    </resultMap>

    <select id="selectChatById" resultMap="chatResultMap">
        SELECT * FROM CHAT WHERE chat_id = #{chatId}
    </select>

    <select id="selectAllChats" resultMap="chatResultMap">
        SELECT * FROM CHAT
    </select>

    <update id="updateChat">
        UPDATE CHAT SET
        chat_number=#{chatNumber},
        content=#{content},
        created_at=#{createdAt},
        user_id=#{userId},
        is_admin=#{isAdmin}
        WHERE chat_id = #{chatId}
    </update>

    <delete id="deleteChat">
        DELETE FROM CHAT WHERE chat_id = #{chatId}
    </delete>
</mapper>
