<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fundingflex.mybatis.mapper.fqa.FqaMapper">

    <resultMap id="FqaDTOResultMap" type="com.fundingflex.consultation.fqa.domain.dto.FqaDTO">
        <id property="fqaId" column="fqa_id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="reply" column="reply"/>
        <result property="createdAt" column="created_at"/>
        <result property="adminUserId" column="admin_user_id"/>
    </resultMap>

    <select id="findAll" resultMap="FqaDTOResultMap">
        SELECT * FROM FQA ORDER BY created_at DESC
    </select>

    <select id="findById" parameterType="long" resultMap="FqaDTOResultMap">
        SELECT * FROM FQA WHERE fqa_id = #{id}
    </select>

<!-- pk값이 null이면 에러가 나서 매퍼 객체의 어노테이션을 활용 
    <insert id="save" parameterType="com.fundingflex.consultation.fqa.domain.dto.FqaDTO" useGeneratedKeys="true" keyProperty="fqaId">
        INSERT INTO FQA (title, content, reply, created_at, admin_user_id)
        VALUES (#{title}, #{content}, #{reply}, #{createdAt}, #{adminUserId})
    </insert>
-->
<select id="findByTitleContainingIgnoreCase" parameterType="string" resultMap="FqaDTOResultMap">
    SELECT * FROM FQA WHERE LOWER(title) LIKE '%' || LOWER(#{title}) || '%' ORDER BY created_at DESC
</select>

<select id="findByContentContainingIgnoreCase" parameterType="string" resultMap="FqaDTOResultMap">
    SELECT * FROM FQA WHERE LOWER(content) LIKE '%' || LOWER(#{content}) || '%' ORDER BY created_at DESC
</select>

<select id="findByTitleContainingIgnoreCaseOrContentContainingIgnoreCase" parameterType="string" resultMap="FqaDTOResultMap">
    SELECT * FROM FQA WHERE LOWER(title) LIKE '%' || LOWER(#{keyword}) || '%' OR LOWER(content) LIKE '%' || LOWER(#{keyword}) || '%' ORDER BY created_at DESC
</select>


</mapper>
