<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fundingflex.mybatis.mapper.funding.ImagesMapper">

	<!-- 이미지 조회 -->
	<select id="findByfundingsId" parameterType="long" resultType="com.fundingflex.funding.domain.entity.Images">
		SELECT img_id
				 , fundings_id
				 , seq
				 , image_url
				 , created_at
				 , is_deleted
		FROM IMAGES
		WHERE fundings_id 	= #{fundingsId}
			AND is_deleted		= 'N'
	</select>

	<!-- 이미지 저장 -->
	<insert id="insertFundingsImages" parameterType="list">
		INSERT
		INTO IMAGES ( fundings_id
		, seq
		, image_url
		, created_at
		, is_deleted
		)
		<foreach collection="imageList" item="image" index="idx" separator="UNION ALL">
			SELECT #{image.fundingsId}
			, #{image.seq}
			, #{image.imageUrl}
			, CURRENT_TIMESTAMP
			, #{image.isDeleted, typeHandler=com.fundingflex.common.util.EnumTypeHandler, jdbcType=VARCHAR}
			FROM DUAL
		</foreach>
	</insert>


	<!-- 이미지 IsDelete 수정 -->
	<update id="updateImageIsDelete">
		UPDATE IMAGES
		SET is_deleted		= #{isDelete, typeHandler=com.fundingflex.common.util.EnumTypeHandler, jdbcType=VARCHAR}
		WHERE fundings_id	= #{fundingId}
	</update>

</mapper>