<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fundingflex.mybatis.mapper.member.MyPageMapper">

    <!-- 사용자 정보 조회 -->
    <select id="findMemberInfo" resultType="com.fundingflex.member.domain.dto.MyPageDTO">
        SELECT email, nickname, profile_url as profileUrl
        FROM members
        WHERE user_id = #{userId}
    </select>

    <!-- 좋아요 누른 펀딩글 조회 -->
    <select id="findLikedFundings" resultType="com.fundingflex.funding.domain.dto.FundingsDTO">
        SELECT f.fundings_id as fundingsId, f.title, f.content, f.like_count as likeCount, f.goal_amount as goalAmount
        FROM fundings f
        INNER JOIN likes l ON f.fundings_id = l.fundings_id
        WHERE l.user_id = #{userId}
    </select>

    <!-- 내가 작성한 펀딩글 조회 -->
    <select id="findMyFundings" resultType="com.fundingflex.funding.domain.dto.FundingsDTO">
        SELECT fundings_id as fundingsId, title, content, like_count as likeCount, goal_amount as goalAmount
        FROM fundings
        WHERE user_id = #{userId}
    </select>

    <!-- 내가 참여한 펀딩글 조회 -->
    <select id="findJoinedFundings" resultType="com.fundingflex.funding.domain.dto.FundingsDTO">
        SELECT f.fundings_id as fundingsId, f.title, f.content, f.like_count as likeCount, f.goal_amount as goalAmount
        FROM fundings f
        INNER JOIN funding_joins fi ON f.fundings_id = fj.fundings_id
        WHERE fj.user_id = #{userId}
    </select>

</mapper>