<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fundingflex.mybatis.mapper.pay.PayMapper">
	
	<select id="getFundingsTitleByJoinId"
		resultType="String">
		SELECT F.title
		FROM Fundings F
		JOIN funding_joins J ON F.fundings_id = J.fundings_id
		WHERE J.funding_join_id = #{fundingJoinId}
	</select>

	<select id="getFundingJoinsFundingAmountByJoinId"
		resultType="Long">
		SELECT funding_amount
		FROM funding_joins
		WHERE funding_join_id = #{fundingJoinId}
	</select>

    <update id="updatePaymentsIsDeleted" parameterType="Long">
        UPDATE payments
        SET is_deleted = 'Y'
        WHERE funding_join_id = #{fundingJoinId}
    </update>
    
    <update id="updateFundingJoinsIsDeleted" parameterType="Long">
        UPDATE funding_joins
        SET is_deleted = 'Y'
        WHERE funding_join_id = #{fundingJoinId}
    </update>

</mapper>
