<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fundingflex.mybatis.mapper.qa.QaImagesMapper">

    <resultMap id="QaImagesDTOResult" type="com.fundingflex.consultation.qa.domain.dto.QaImagesDTO">
        <id property="qaImageId" column="qa_image_id" />
        <result property="qaImageUrl" column="qa_image_url" />
        <result property="seq" column="seq" />
        <result property="createdAt" column="created_at" />
        <result property="consultations.counsulId" column="counsul_id" />
    </resultMap>

    <select id="findByConsultations" resultMap="QaImagesDTOResult">
        SELECT * FROM QAIMAGES WHERE counsul_id = #{counsulId}
    </select>

    <insert id="save">
        INSERT INTO QAIMAGES (qa_image_url, seq, created_at, counsul_id)
        VALUES (#{qaImageUrl}, #{seq}, #{createdAt}, #{consultations.counsulId})
    </insert>

    <insert id="saveAll">
        <foreach collection="list" item="item" separator=";">
            INSERT INTO QAIMAGES (qa_image_url, seq, created_at, counsul_id)
            VALUES (#{item.qaImageUrl}, #{item.seq}, #{item.createdAt}, #{item.consultations.counsulId})
        </foreach>
    </insert>

    <delete id="deleteById">
        DELETE FROM QAIMAGES WHERE qa_image_id = #{qaImageId}
    </delete>

</mapper>
