<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fundingflex.mybatis.mapper.qa.QaMapper">

    <resultMap id="QaDTOResult" type="com.fundingflex.consultation.qa.domain.dto.QaDTO">
        <id property="counsulId" column="counsul_id" />
        <result property="title" column="title" />
        <result property="content" column="content" />
        <result property="createdAt" column="created_at" />
        <result property="reply" column="reply" />
        <result property="membersUserId" column="user_id" />
        <result property="adminUserId" column="admin_id" />
    </resultMap>

    <!-- SQL 재사용을 위한 정의 -->
    <sql id="consultationColumns">
        counsul_id, title, content, reply, created_at, user_id, admin_id
    </sql>

<select id="findByMembersUserId" resultMap="QaDTOResult">
    <![CDATA[
    SELECT * 
    FROM (
        SELECT p.*, ROW_NUMBER() OVER (ORDER BY p.created_at DESC) AS row_num
        FROM CONSULTATIONS p
        WHERE p.user_id = #{membersUserId}
    )
    WHERE row_num BETWEEN #{startRow} AND #{endRow}
    ]]> 
</select>


<select id="findByAllQuestions" resultMap="QaDTOResult">
    <![CDATA[
    SELECT * 
    FROM (
        SELECT p.*, ROW_NUMBER() OVER (ORDER BY p.created_at DESC) AS row_num
        FROM CONSULTATIONS p
        WHERE 1 = 1
    )
    WHERE row_num BETWEEN #{startRow} AND #{endRow}
    ]]> 
</select>

<select id="countByMembersUserId" resultType="int">
    SELECT COUNT(*)
    FROM CONSULTATIONS
    WHERE user_id = #{membersUserId}
</select>

    <!-- 상담 ID로 검색 -->
    <select id="findById" resultMap="QaDTOResult">
        SELECT <include refid="consultationColumns"/>
        FROM CONSULTATIONS
        WHERE counsul_id = #{id}
    </select>

    <select id="findLastByMembersUserId" resultMap="QaDTOResult">
        SELECT <include refid="consultationColumns"/>
    	FROM CONSULTATIONS
    	WHERE user_id = #{membersUserId}
    	ORDER BY created_at DESC
    	FETCH FIRST 1 ROWS ONLY
    </select>

    <!-- 상담 저장 -->
    <insert id="save">
        INSERT INTO CONSULTATIONS (title, content, reply, created_at, user_id, admin_id)
        VALUES (#{title}, #{content}, #{reply}, #{createdAt, jdbcType=TIMESTAMP}, #{membersUserId}, #{adminUserId, jdbcType=NUMERIC})
    </insert>

    <!-- 상담 업데이트 -->
    <update id="update">
        UPDATE CONSULTATIONS
        SET title = #{title}, content = #{content}, reply = #{reply}, created_at = #{createdAt},
           user_id = #{membersUserId}, admin_id = #{adminUserId}
        WHERE counsul_id = #{counsulId}
    </update>

    <!-- 상담 삭제 -->
    <delete id="deleteById">
        DELETE FROM CONSULTATIONS WHERE counsul_id = #{id}
    </delete>

</mapper>
