<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>1:1 실시간 상담</title>
    <link rel="stylesheet" href="/css/qa-style.css">
</head>
<body>
    <h1>문의</h1>
    <nav>
        <a href="/qa/fqa">자주 문의한 내역</a>
        <a href="/qa/myquestions">내가 문의한 내역</a>
        <a href="/qa/ask">문의 하기</a>
        <a href="/qa/chat">1:1 실시간 상담</a>
    </nav>
    <div id="content">
    	<h2>1:1 실시간 상담</h2>
        <button onclick="window.open('/qa/chat-window', 'ChatWindow', 'width=400,height=500')">상담 연결하기</button>
        <button onclick="window.open('/qa/chat-reply-window', 'ChatReplyWindow', 'width=400,height=500')" style="margin-top: 10px;">고객 연결하기</button>
    </div>
</body>
</html>