<!DOCTYPE html>
<html lang="ko" class="my-qa-html">
<head>
    <meta charset="UTF-8">
    <title>실시간 문의</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Kakao Talk Clone Chat Page">
    <meta name="robots" content="noindex, nofollow">
    <link rel="stylesheet" href="/css/chat/CSS/chat-room.css">
    <link rel="stylesheet" href="/css/chat/CSS/general.css">
    <link rel="stylesheet" href="fontello/css/fontello.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/funding-style.css">
    <link rel="stylesheet" type="text/css" href="/css/elegant-icons.css">
    <link rel="stylesheet" href="/css/qa-style.css">
</head>
<body class="my-qa-body">
    <div id="chat-body">
        <header class="my-qa-no-margin-bottom my-qa-no-padding-bottom my-qa-no-padding-top">
            <img class="profile-img" src="/images/chat/pic/customer.png" alt="고객 사진">
            <div class="profile-col">
                <span class="profile-name">나 (aka.진상)</span>
                <div class="sub-menu">
                    <i class="icon-box" title="채팅방 서랍"></i>
                    <i class="icon-search" title="검색"></i>
                </div>
            </div>
        </header>
        <main>
            <div class="notice-bar my-qa-no-padding-top">
                <i class="icon-bullhorn"></i>
                <span>멘트를 고정해놓는 곳입니다.</span>
                <i class="icon-down-open-big"></i>
            </div>
            <div class="chat-content" id="chat-box">
                <div class="date-line" id="date-line">
                    <time datetime=""></time>
                </div>
            </div>
            <div class="insert-content my-qa-margin-top my-qa-margin-bottom">
                <form id="chat-form">
                    <input id="chat-input" type="text" name="chat-insert" placeholder="메세지 입력" required>
                    <button class="btn btn-primary" type="submit" value="전송">전송</button>
                </form>
            </div>
        </main>
    </div>
    <script src="/js/chat.js"></script>
</body>
</html>
