<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://java.sun.com/JSP/Page"
      layout:decorate="~{common/layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>문의 하기</title>
   
</head>
<body>
<div layout:fragment="content" class="content">
<div class="container-body">
        <div class="text-body">
        	<div class="form-make-body col-md-8">
    <h1 class="my-qa-main-title">문의</h1>
    <nav class="my-qa-top-link">
        <a href="/qa/fqa">자주 문의한 내역</a>
        <a href="/qa/myquestions">내가 문의한 내역</a>
        <!-- href="/qa/ask" -->
        <a class="my-qa-select-top-tap">문의 하기</a>
        <a href="/qa/chat">1:1 실시간 상담</a>
    </nav>
    <div id="content">
        <form class="my-qa-ask-form" action="/qa/ask" method="post" enctype="multipart/form-data">
            <label class="my-qa-ask-form-title" for="title">제목</label>
            <input type="text" id="title" name="title" placeholder="제목을 입력해주세요" required>
            <label class="my-qa-ask-form-title" for="content">내용</label>
            <textarea id="content" name="content" placeholder="내용을 입력해주세요" required></textarea>
                       
            <!-- 이미지 부분 추가 -->
            <div class="form-group mt-5">
                <label class="my-qa-ask-form-title">이미지 업로드</label>
                <div id="imageUploadContainer" class="image-upload-container">
                    <div class="image-upload">
                        <input type="file" name="images" accept="image/*" onchange="previewImage(this)">
                        <img src="#">
                    </div>
                    <div class="image-upload">
                        <input type="file" name="images" accept="image/*" onchange="previewImage(this)">
                        <img src="#">
                    </div>
                    <div class="image-upload">
                        <input type="file" name="images" accept="image/*" onchange="previewImage(this)">
                        <img src="#">
                    </div>
                    <div class="image-upload">
                        <input type="file" name="images" accept="image/*" onchange="previewImage(this)">
                        <img src="#">
                    </div>
                    <div class="image-upload">
                        <input type="file" name="images" accept="image/*" onchange="previewImage(this)">
                        <img src="#">
                    </div>
                </div>
            </div>
            
            <button class="btn btn-primary my-qa-ask-btn" type="submit">제출</button>
        </form>
    </div>
    
    <script th:src="@{/js/Sortable.min.js}"></script>
	<script th:src="@{/js/Swap.js}"></script>
	<script th:src="@{/js/funding.js}"></script>
    <script>
        function previewImage(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    input.nextElementSibling.src = e.target.result;
                    input.nextElementSibling.style.display = 'block';
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
</div></div></div></div></body></html>
