<!-- 

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://java.sun.com/JSP/Page"
      layout:decorate="~{common/layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>문의 상세 내역</title>
    <link rel="stylesheet" href="/css/qa-style.css">
</head>
<body>
<div layout:fragment="content" class="content">
<div class="container-body">
        <div class="text-body">
        	<div class="form-make-body col-md-8">
        	
        	
        	
        	
    <h1 class="my-qa-main-title">문의 상세 내역</h1>
    <nav class="my-qa-top-link">
        <a href="/qa/fqa">자주 문의한 내역</a>
        <a href="/qa/myquestions">내가 문의한 내역</a>
        <a href="/qa/ask">문의 하기</a>
        <a href="/qa/chat">1:1 실시간 상담</a>
    </nav>
    
    
    
    <div id="my-qa-questions-detail-content">
        <div class="question-de-header">
            <div class="title" th:text="${question.title}">질문 제목</div>
            <div class="meta">
            <!-- 
                <div>
                    <strong>등록자명:</strong>
                    <span th:text="${question.membersUserId}">등록자명</span>
                </div>
                 -->
                <!--  HH:mm:ss 제외 ->
                <div class="my-qa-left-text">
                    <strong>등록일:</strong>
                    <span th:text="${#dates.format(question.createdAt, 'yyyy-MM-dd')}">2024-06-24</span>
                </div>
                   <!--
                <div>
                    <strong>답변 상태:</strong>
                    <span th:text="${question.isReply == 'Y' ? '답변 완료' : '답변 대기'}">답변 상태</span>
                </div>
                
                ->
            </div>
        </div>
        <div class="question-content">
            <p th:text="${question.content}">질문 내용</p>
        </div>
        
        <div class="image-gallery">
            <div th:each="image : ${question.images}">
                <img th:src="@{/images/qa/{imageUrl}(imageUrl=${image.qaImageUrl})}" alt="Image"/>
            </div>
        </div>

        <div class="question-reply" th:classappend="${question.isReply == 'Y' ? 'visible' : ''}">
            <strong>답변:</strong>
            <p th:text="${question.reply}">질문 답변</p>
        </div>

        <div class="back-link" th:if="${question.isReply == 'N'}">
            <a th:href="@{/qa/reply/{id}(id=${question.counsulId})}" class="answer-button">답변 하기</a>
        </div>

        <div class="back-link">
            <a th:href="@{/qa/myquestions?userId=1}">목록으로 돌아가기</a> <!-- userId는 실제 로그인한 유저 ID를 사용->
        </div>
    </div>
</div></div></div></div></body></html>

-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://java.sun.com/JSP/Page"
      layout:decorate="~{common/layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>문의 상세 내역</title>
    <link rel="stylesheet" href="/css/qa-style.css">
</head>
<body>
<div layout:fragment="content" class="content">
<div class="container-body">
        <div class="text-body">
        	<div class="form-make-body col-md-8">

    <h1 class="my-qa-main-title">문의 상세 내역</h1>
    <nav class="my-qa-top-link">
        <a href="/qa/fqa">자주 문의한 내역</a>
        <a href="/qa/myquestions">내가 문의한 내역</a>
        <a href="/qa/ask">문의 하기</a>
        <a href="/qa/chat">1:1 실시간 상담</a>
    </nav>

    <div id="my-qa-questions-detail-content">
        <div class="question-de-header">
            <div class="my-qa-de-title" th:text="${question.title}">질문 제목</div>
            <div class="meta">
                <div class="my-qa-left-text">
                    <strong>등록일:</strong>
                    <span th:text="${#dates.format(question.createdAt, 'yyyy-MM-dd')}">2024-06-24</span>
                </div>
            </div>
        </div>
        <div class="question-content">
            <p th:text="${question.content}">질문 내용</p>
        </div>
        
        <div class="image-gallery">
            <div th:each="image : ${question.images}">
                <img th:src="@{/images/qa/{imageUrl}(imageUrl=${image.qaImageUrl})}" alt="Image"/>
            </div>
        </div>

        <div class="question-reply" th:classappend="${question.isReply == 'Y' ? 'visible' : ''}">
            <strong>답변:</strong>
            <p th:text="${question.reply}">질문 답변</p>
        </div>

        <div class="back-link" th:if="${question.isReply == 'N'}">
            <a class="btn btn-primary" th:href="@{/qa/reply/{id}(id=${question.counsulId})}">답변 하기</a>
        </div>

        <div class="back-link ">
            <a class="btn btn-primary" th:href="@{/qa/myquestions?userId=1}">목록으로 돌아가기</a> <!-- userId는 실제 로그인한 유저 ID를 사용 -->
        </div>
    </div>
</div></div></div></div></body></html>
