<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{common/layouts/layout}">
<head>
<meta charset="UTF-8">
<title>MyPage</title>
<!-- 필요한 CSS 파일들을 링크합니다 -->
</head>
<body>
	<div layout:fragment="content" class="content">
		<div class="container-body">
			<div class="text-body">
				<div class="form-make-body col-md-7">
				<div>
						<h1>마이페이지</h1>
						<label>이메일</label>
	    				<div th:text="${userDetails.getUsername()}"></div>
						<div class="signup-image-upload"></div>
						<img class="image-upload" th:if="${members.getProfileUrl() != null}" th:src="@{'/images/members/' + ${members.profileUrl.substring(members.profileUrl.lastIndexOf('/') + 1)}}" alt="Profile Image">
						<img th:if="${members.getProfileUrl() == null}" src="/images/default-profile-image.png" alt="Default Profile Image">
						<label>닉네임</label>
						<div th:text="${userDetails.getNickname()}"></div>
					</div>
					<div>
						<div>
							좋아요 누른 펀딩글
						    <h2>Liked Fundings</h2>
						    <ul>
						        <div th:each="funding : ${likedFundings}">
						            <span th:text="${funding.title}"></span>
						            <p>목표 금액: <span th:text="${funding.goalAmount}"></span></p>
									<p>진행률: <span th:text="${funding != null ? funding.percent : ''}"></span></p>
						            <!-- <span th:text="${funding.content}"></span> -->
						            <img th:src="@{/images/fundings/{filename}(filename=${funding.imageUrl})}" alt="Funding Image">
						        </div>
						    </ul>
						</div>
						<div>
							<h2>내가 참여한 펀딩글</h2>
						    <li th:each="funding : ${participatedFundings}">
		                        <div>
		                            <h3 th:text="${funding.title}"></h3>
		                            <p>목표 금액: <span th:text="${funding.goalAmount}"></span></p>
									<p>진행률: <span th:text="${funding != null ? funding.percent : ''}"></span></p>
									<img th:src="@{/images/fundings/{filename}(filename=${funding.imageUrl})}" alt="Funding Image">
		                        </div>
                    		</li>
						</div>
						<div>
							내가 만든 펀딩글
						    <h2>Created Fundings</h2>
						    <ul>
						        <div th:each="funding : ${createdFundings}">
						            <span th:text="${funding.title}"></span>
									<p>목표 금액: <span th:text="${funding.goalAmount}"></span></p>
									<p>진행률: <span th:text="${funding != null ? funding.percent : ''}"></span></p>
									<img th:src="@{/images/fundings/{filename}(filename=${funding.imageUrl})}" alt="Funding Image">
								</div>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>