<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{common/layouts/layout}">
<head>
<meta charset="UTF-8">
<title>MyPage</title>
<!-- 필요한 CSS 파일들을 링크합니다 -->
</head>
<body>
	<div layout:fragment="content" class="content">
		<div class="container-body">
			<div class="text-body">
				<div class="form-make-body content-wrapper">
					<h1>마이페이지</h1>
					<div class="mypage-form">
						<div class="mypage-profileUrl">
							<img class="mypage-image-upload"th:src="${profileUrl}"
								alt="Profile Image">
						</div>
						<div class="mypage-nick-counting">
							<div class="mypage-nick" th:text="${userDetails.getNickname()} + 님"></div>
							<div class="mypage-counting">
								<div>
									<p th:text="${participatedCount}"></p>
									<p>참여</p>
								</div>
								<div>
									<p th:text="${createdCount}"></p>
									<p>개설</p>
								</div>
								<div>
									<p th:text="${likedCount}"></p>
									<p>좋아요</p>
								</div>
							</div>
						</div>
						<div class="mypage-profileUrl-edit">
							<button class="btn btn-primary">프로필 편집</button>
						</div>
					</div>
					<nav class="">
						<ul class="tab_wrap">
							<li class="tab" data-target="content_one">참여한</li>
							<li class="tab" data-target="content_two">개설한</li>
							<li class="tab" data-target="content_three">좋아요</li>
						</ul>

						<div class="content_wrap">
							<div id="content_one" class="content con_active">
								<div class="mypage-section-container">
									<div th:each="funding : ${participatedFundings}" class="mypage-participated-content-container">
										<a th:href="@{/api/fundings/{id}/details/{detailId}(id=${funding.categoryId}, detailId=${funding.fundingsId})}" class="mypage-funding-item">
		  									<div th:text="${funding.title}" class="mypage-funding-title"></div>
		 									<div class="mypage-funding-details">
												<span th:text="'목표 금액 : ' + ${funding.goalAmount} + '원'"></span><br>
												<span th:text="'펀딩 금액 : ' + ${funding.collectedAmount} + '원'"></span><br>
											</div>
											<div class="mypage-funding-images">
												<img th:src="@{/images/fundings/{filename}(filename=${funding.imageUrl})}" class="active">
											</div>
											<div class="mypage-funding-progress">
												<div th:style="'width:' + ${funding.percent} + '%'"	class="funding-progress-bar"></div>
												<div th:text="${funding.percent} + '%'"	class="funding-progress-text"></div>
											</div>
											<button class="btn btn-primary mypage-cancel-btn" 
											th:onclick="|window.open('@{/pay/cancel/{joinId}(joinId=${funding.joinId})}', 'ChatWindow', 'width=400,height=580')|">취소하기</button>
										</a>
										
									</div>
								</div>
							</div>
							<div id="content_two" class="content" >
								<div class="mypage-section-container">
									<div th:each="funding : ${createdFundings}" class="mypage-content-container">
										<a th:href="@{/api/fundings/{id}/details/{detailId}(id=${funding.categoryId}, detailId=${funding.fundingsId})}" class="mypage-funding-item">
		  									<div th:text="${funding.title}" class="mypage-funding-title"></div>
		 									<div class="mypage-funding-details">
												<span th:text="'목표 금액 : ' + ${funding.goalAmount} + '원'"></span><br>
												<span th:text="'펀딩 금액 : ' + ${funding.collectedAmount} + '원'"></span><br>
											</div>
											<div class="mypage-funding-images">
												<img th:src="@{/images/fundings/{filename}(filename=${funding.imageUrl})}" class="active">
											</div>
											<div class="mypage-funding-progress">
												<div th:style="'width:' + ${funding.percent} + '%'"	class="funding-progress-bar"></div>
												<div th:text="${funding.percent} + '%'"	class="funding-progress-text"></div>
											</div>
										</a>
									</div>
								</div>
							</div>
							<div id="content_three" class="content">
								<div class="mypage-section-container">
									<div th:each="funding : ${likedFundings}" class="mypage-content-container">
										<a th:href="@{/api/fundings/{id}/details/{detailId}(id=${funding.categoryId}, detailId=${funding.fundingsId})}" class="mypage-funding-item">
	  										<div th:text="${funding.title}" class="mypage-funding-title"></div>
	 										<div class="mypage-funding-details">
												<span th:text="'목표 금액 : ' + ${funding.goalAmount} + '원'"></span><br>
												<span th:text="'펀딩 금액 : ' + ${funding.collectedAmount} + '원'"></span><br>
											</div>
											<div class="mypage-funding-images">
												<img th:src="@{/images/fundings/{filename}(filename=${funding.imageUrl})}" class="active">
											</div>
											<div class="mypage-funding-progress">
												<div th:style="'width:' + ${funding.percent} + '%'"	class="mypage-funding-progress-bar"></div>
												<div th:text="${funding.percent} + '%'"	class="funding-progress-text"></div>
											</div>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</nav>
			</div>
		</div>
	</div>
</body>
</html>


















