<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{common/layouts/layout}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div layout:fragment="content" class="container my-3">
    <div>
        <div class="login-title">로그인</div>
        <form th:action="@{/api/signin}" method="post" class="form-horizontal" th:object="${memberLoginForm}">
            <div class="form-group login-row">
                <label for="email" class="signin-label">  이메일</label>
                <div class="input-row">
                    <input type="text" name="email" th:field="*{email}" class="form-control" placeholder="이메일을 입력하세요" th:value="${memberLoginForm.email}">
                </div>
            </div>
            <div class="form-group login-row">
                <label for="password" class="signin-label">비밀번호</label>
                <div class="input-row">
                    <input type="password" name="password" th:field="*{password}" class="form-control" placeholder="비밀번호를 입력하세요" th:value="${memberLoginForm.password}">
                </div>
            </div>
            <div class="form-group">
                <div class="signin-button">
                    <button type="submit" class="btn btn-primary signin-buttons">로그인</button>
                    <button type="reset" class="btn btn-secondary signin-buttons">취소</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
        document.getElementById('loginForm').addEventListener('submit', function(event) {
            event.preventDefault(); // 기본 폼 제출 방지

            const email = document.getElementById('email').value;
            const password = document.getElementById('password').value;

            const requestData = {
                email: email,
                password: password
            };

            fetch('/api/signin', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(requestData)
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                console.log('Success:', data);
                // 로그인 성공 후 처리
            })
            .catch(error => {
                console.error('Error:', error);
                // 로그인 실패 후 처리
            });
        });
    </script>
</body>
</html>