<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{common/layouts/layout}"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Login</title>
</head>
<body>
	<div layout:fragment="content" class="container my-3">
		<div>
			<div class="login-title">로그인</div>
			<form th:action="@{/api/signin}" method="post"
				class="form-horizontal" th:object="${memberLoginForm}">
				<div class="signin-form-group login-row">
					<label for="email" class="signin-label"> 이메일</label>
					<div class="input-row">
						<input type="text" name="email" th:field="*{email}"
							class="signin-form-control" placeholder="이메일을 입력하세요"
							th:value="${memberLoginForm.email}">
					</div>
				</div>
				<div class="signin-form-group login-row">
					<label for="password" class="signin-label">비밀번호</label>
					<div class="input-row">
						<input type="password" name="password" th:field="*{password}"
							class="signin-form-control" placeholder="비밀번호를 입력하세요"
							th:value="${memberLoginForm.password}">
					</div>
				</div>
				<div class="signin-form-group">
					<div class="signin-button">
						<button type="submit" class="btn btn-primary signin-buttons">로그인</button>
						<button type="reset" class="btn btn-secondary signin-buttons">취소</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</body>
</html>