<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{common/layouts/layout}"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Login</title>
</head>
<body>
	<div layout:fragment="content" class="content">
		<div class="container-body">
			<div class="text-body">
				<div class="form-make-body col-md-7">
					<h2 class="text-center my-4">로그인</h2>
					<form th:action="@{/api/signin}" method="post" th:object="${memberLoginForm}">
						<div class="form-group mt-4">
							<label for="email"> 이메일</label>
							<input type="text" class="form-control" name="email" id="signin-email" th:field="*{email}" placeholder="이메일을 입력하세요" th:value="${memberLoginForm.email}">
							<div class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">이메일을 입력해주세요.</div>
						</div>
						<div class="form-group mt-4">
							<label for="password">비밀번호</label>
							<input type="password" name="password" id="signin-password" th:field="*{password}" class="form-control" placeholder="비밀번호를 입력하세요" th:value="${memberLoginForm.password}">
							<div class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">비밀번호 에러</div>
						</div>
						<div class="form-group text-center mt-4">
							<div th:if="${error != null}" class="alert alert-danger" th:text="${error}"><!-- 에러 메시지가 여기에 표시됩니다 --></div>
							<div th:if="${errorMessage}" class="alert alert-danger" th:text="${errorMessage}"></div>
							<div th:if="${param.authError}" class="alert alert-danger">로그인 후 이용 가능합니다!</div>
							<button type="submit" class="btn btn-primary signin-buttons">로그인</button>
							<button type="reset" class="btn btn-secondary signin-buttons" onclick="location.href='/api/home'">취소</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>